@import url(http://fonts.googleapis.com/css?family=News+Cycle&subset=latin,latin-ext); 

#vlb1overlay{
	position:absolute;
	top:0;
	left:0;
	z-index:1190;
	width:100%;
	height:auto;
	background-color:#333333;
}

#vlb1lightbox{
	position:absolute;
	top:20px;
	left:0;
	width:100%;
	z-index:2000;
	text-align:center;
	color:white;
	line-height:0;
}
#vlb1lightbox td{
	vertical-align:top;
}
#vlb1lightbox a, #vlb1lightbox a:hover {
	border-bottom:none;
	color:white;
	text-decoration:underline;
}

#vlb1lightbox a img{ border:none; }

#vlb1outerImageContainer{
	width:auto;
	height:auto; /* without this line error in IE8 detected */
	margin:0 auto;
	position:relative;
}

#vlb1lightboxImage{
	width:100%;
	height:100%;
}

#vlb1imageContainerMain{
	margin:0 auto;
	overflow:visible;
	position:relative;
	font-size:0;/* ie fix - big info bar*/
}

#vlb1imageContainer{
	width:50px;
	height:50px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
	font-size:0;/* ie fix - big info bar*/
}

#vlb1loading{
	position:absolute;
	top:45%;
	left:0;
	height:25%;
	width:100%;
	text-align:center;
	font-size:10px;
	z-index:1;
}
#vlb1loadingLink {
	display:block;
	margin:0 auto;
	padding:0;
	width:32px;
	height:32px;
	background:url(loading.gif) center center no-repeat;
	text-indent:-9999px;
}
#vlb1hoverNav{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:10;
}
#vlb1imageContainer>#hoverNav{ left:0;}
#vlb1prevLinkImg, #vlb1nextLinkImg{
	top:0;
	width:32px;
	height:100%;
	position:absolute;
	z-index:20;
	outline-style:none;
	display:block;
	text-indent:-9999px;
	}
* html #vlb1prevLinkImg,* html #vlb1nextLinkImg{
	background-image:url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */
}
#vlb1prevLinkImg { left: -6px; }
#vlb1nextLinkImg { right: -6px; }
#vlb1prevLinkImg, #vlb1prevLinkImg:hover, #vlb1prevLinkImg.hover, #vlb1prevLinkImg:visited:hover { 
	background:url(prev.png) 5% center no-repeat; 
}
#vlb1nextLinkImg, #vlb1nextLinkImg:hover, #vlb1nextLinkImg.hover, #vlb1nextLinkImg:visited:hover { 
	background:url(next.png) 97% center no-repeat; 
}

#vlb1imageDataContainer{
	font-family: "Trebuchet MS",Helvetica,sans-serif;
	font-size:13px;
	line-height: 16px;
	color: #979797;
	width:100%;
}

#vlb1imageData{
	overflow:hidden;
	width:100%;
}
#vlb1imageDetails{ width:55%; float:left; text-align:left; 	padding:4px 10px 0 0;}
#vlb1caption{ font-weight:bold; font-size:20px; color: #525252; font-family: 'News Cycle', sans-serif; display:block;}
#vlb1numberDisplay{ display:block; float:left; padding:9px 10px 0 0;}
#vlb1detailsNav{display:block; float:right;   padding:0; margin-right:-42px; }
#vlb1prevLinkDetails, #vlb1nextLinkDetails, #vlb1slideShowControl{ background-repeat:no-repeat; outline-style:none; display:block; float:left;}
#vlb1prevLinkDetails {
	margin:2px; width:31px;height:30px; background-position:left 100%;
	background-image:url(navigation.jpg);
}
#vlb1prevLinkDetails:hover {
	background-position:0 0;
}

#vlb1nextLinkDetails {
	margin:2px; width:31px;height:30px; background-position:right 100%;
	background-image:url(navigation.jpg);
}
#vlb1nextLinkDetails:hover {
	background-position:100% 0;
}
#vlb1slideShowControl{
	display:block;
	width:31px; 
	height:30px; 
	float:left;
	margin:2px; 
	background-image:url(navigation.jpg);
	background-position:-31px 100%;
	background-repeat:no-repeat;
}
#vlb1slideShowControl:hover{
	background-position:-31px 0;
}
#vlb1slideShowControl.started{
	background-position:-62px 100%;
}
#vlb1slideShowControl.started:hover{
	background-position:-62px 0;
}

#vlb1close{
	position:absolute;
	bottom:0px;
	right:0px;
	width:100%;
	height:0;
	z-index:21; 
}
#vlb1closeLink {
	position:absolute;
	bottom:20px;
	right:15px;
	display:block; 
	outline-style:none; 
	margin:0; 
	padding:0; 
	text-decoration:none; 
	width:27px;
	height:26px;
	background:url(close.png) no-repeat;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='photo_gallery_files/vlb_files1/close.png', sizingMethod='scale'); 	
}

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
* html>body .clearfix {display:inline-block; width:100%;}

* html .clearfix {
	/* Hides from IE-mac \*/
	height:1%;
	/* End hide from IE-mac */
}	

#vlb1outerImageFrame{
	height:100%;
	width:100%;
	position:absolute;
}

#vlb1outerImageContainer{
	overflow:visible;
}
#vlb1outerImageContainer td{
	text-align:center;
	padding:0;
}

#vlb1lightboxFrameBody{
	background:url(back_info.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='photo_gallery_files/vlb_files1/back_info.png', sizingMethod='scale');
}

#vlb1outerImageContainer td, #vlb1outerImageContainer tr{
	font-size:0;
	border:0 none;
}
/* frame style */
#vlb1outerImageContainer td.tl, #vlb1outerImageContainer td.br{
	height:16px;
	width:16px;
}
.vlb{display:none;}
#vlb1outerImageContainer td.tl{
	background-image:url(back_lt.png);
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='back_lt.png', sizingMethod='scale');
}
#vlb1outerImageContainer td.tc{
	background-image:url(back_ct.png);
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='back_ct.png', sizingMethod='scale');
}
#vlb1outerImageContainer td.tr{
	background-image:url(back_rt.png);
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='back_rt.png', sizingMethod='scale');
}
#vlb1outerImageContainer td.ml{
	background-image:url(back_lc.png);
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='back_lc.png', sizingMethod='scale');
}
#vlb1outerImageContainer td.mr{
	background-image:url(back_rc.png);
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='back_rc.png', sizingMethod='scale');
}
#vlb1outerImageContainer td.bl{
	background-image:url(back_lb.png);
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='back_lb.png', sizingMethod='scale');
}
#vlb1outerImageContainer td.bc{
	background-image:url(back_cb.png);
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='back_cb.png', sizingMethod='scale');
}
#vlb1outerImageContainer td.br{
	background-image:url(back_rb.png);
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='back_rb.png', sizingMethod='scale');
} 