/* Created by Artisteer v4.3.0.60745 */

.rmt-header, #rmt-header-bg, .rmt-layout-cell, .rmt-layout-wrapper, .rmt-footer, .rmt-nav, #rmt-hmenu-bg, .rmt-sheet,
.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.rmt-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.rmt-header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#rmt-header-bg 
{
   display: none;
}

.rmt-hmenu>li, .rmt-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.rmt-hmenu, ul.rmt-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
#rmt-hmenu-bg 
{
   display: none;
}

ul.rmt-hmenu>li:first-child {
   padding-right:10px;
}

ul.rmt-hmenu ul, .desktop-nav ul.rmt-hmenu>li.ext:hover>a{
   background-color: #F9FAFB !important;
}

.rmt-content-layout, .rmt-content-layout-row, .rmt-layout-cell 
{
   display: block;
   zoom: 1;
}
.rmt-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.rmt-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.rmt-search div>input[type="text"]
{
   width: 100%;
}

* html form.rmt-search>input[type="text"] 
{
   margin :0;
}

form.rmt-search
{
   zoom: 1;
}
.rmt-postheadericons span{
   zoom: 1;
}
.rmt-postcontent {
   height: 1%;
}

.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.rmt-sidebar1 
{
   width: auto;
   float:none;
}

