/* Created by Artisteer v4.3.0.60745 */

#rmt-main
{
   background: #FFFFFF;
   margin:0 auto;
   font-size: 13px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.rmt-hmenu
{
   font-size: 13px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.rmt-button
{
   border: 0;
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #A1ADBA;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   padding:0 21px;
   margin:0 auto;
   height:25px;
}

.rmt-postcontent,
.rmt-postheadericons,
.rmt-postfootericons,
.rmt-blockcontent,
ul.rmt-vmenu a 
{
   text-align: left;
}

.rmt-postcontent,
.rmt-postcontent li,
.rmt-postcontent table,
.rmt-postcontent a,
.rmt-postcontent a:link,
.rmt-postcontent a:visited,
.rmt-postcontent a.visited,
.rmt-postcontent a:hover,
.rmt-postcontent a.hovered
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   line-height: 175%;
}

.rmt-postcontent p
{
   margin: 13px 0;
}

.rmt-postcontent h1, .rmt-postcontent h1 a, .rmt-postcontent h1 a:link, .rmt-postcontent h1 a:visited, .rmt-postcontent h1 a:hover,
.rmt-postcontent h2, .rmt-postcontent h2 a, .rmt-postcontent h2 a:link, .rmt-postcontent h2 a:visited, .rmt-postcontent h2 a:hover,
.rmt-postcontent h3, .rmt-postcontent h3 a, .rmt-postcontent h3 a:link, .rmt-postcontent h3 a:visited, .rmt-postcontent h3 a:hover,
.rmt-postcontent h4, .rmt-postcontent h4 a, .rmt-postcontent h4 a:link, .rmt-postcontent h4 a:visited, .rmt-postcontent h4 a:hover,
.rmt-postcontent h5, .rmt-postcontent h5 a, .rmt-postcontent h5 a:link, .rmt-postcontent h5 a:visited, .rmt-postcontent h5 a:hover,
.rmt-postcontent h6, .rmt-postcontent h6 a, .rmt-postcontent h6 a:link, .rmt-postcontent h6 a:visited, .rmt-postcontent h6 a:hover,
.rmt-blockheader .t, .rmt-blockheader .t a, .rmt-blockheader .t a:link, .rmt-blockheader .t a:visited, .rmt-blockheader .t a:hover,
.rmt-vmenublockheader .t, .rmt-vmenublockheader .t a, .rmt-vmenublockheader .t a:link, .rmt-vmenublockheader .t a:visited, .rmt-vmenublockheader .t a:hover,
.rmt-headline, .rmt-headline a, .rmt-headline a:link, .rmt-headline a:visited, .rmt-headline a:hover,
.rmt-slogan, .rmt-slogan a, .rmt-slogan a:link, .rmt-slogan a:visited, .rmt-slogan a:hover,
.rmt-postheader, .rmt-postheader a, .rmt-postheader a:link, .rmt-postheader a:visited, .rmt-postheader a:hover
{
   font-size: 22px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 120%;
}

.rmt-postcontent a, .rmt-postcontent a:link
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #FA5705;
}

.rmt-postcontent a:visited, .rmt-postcontent a.visited
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #839BB4;
}

.rmt-postcontent  a:hover, .rmt-postcontent a.hover
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #FB7C3C;
}

.rmt-postcontent h1
{
   color: #E2341D;
   margin: 10px 0 0;
   font-size: 26px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 26px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-postcontent h1 a, .rmt-postcontent h1 a:link, .rmt-postcontent h1 a:hover, .rmt-postcontent h1 a:visited, .rmt-blockcontent h1 a, .rmt-blockcontent h1 a:link, .rmt-blockcontent h1 a:hover, .rmt-blockcontent h1 a:visited 
{
   font-size: 26px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-postcontent h2
{
   color: #8D9CAA;
   margin: 10px 0 0;
   font-size: 22px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 22px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-postcontent h2 a, .rmt-postcontent h2 a:link, .rmt-postcontent h2 a:hover, .rmt-postcontent h2 a:visited, .rmt-blockcontent h2 a, .rmt-blockcontent h2 a:link, .rmt-blockcontent h2 a:hover, .rmt-blockcontent h2 a:visited 
{
   font-size: 22px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-postcontent h3
{
   color: #FB7C3C;
   margin: 10px 0 0;
   font-size: 20px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 20px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-postcontent h3 a, .rmt-postcontent h3 a:link, .rmt-postcontent h3 a:hover, .rmt-postcontent h3 a:visited, .rmt-blockcontent h3 a, .rmt-blockcontent h3 a:link, .rmt-blockcontent h3 a:hover, .rmt-blockcontent h3 a:visited 
{
   font-size: 20px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-postcontent h4
{
   color: #4E6883;
   margin: 10px 0 0;
   font-size: 18px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 18px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-postcontent h4 a, .rmt-postcontent h4 a:link, .rmt-postcontent h4 a:hover, .rmt-postcontent h4 a:visited, .rmt-blockcontent h4 a, .rmt-blockcontent h4 a:link, .rmt-blockcontent h4 a:hover, .rmt-blockcontent h4 a:visited 
{
   font-size: 18px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-postcontent h5
{
   color: #4E6883;
   margin: 10px 0 0;
   font-size: 15px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 15px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-postcontent h5 a, .rmt-postcontent h5 a:link, .rmt-postcontent h5 a:hover, .rmt-postcontent h5 a:visited, .rmt-blockcontent h5 a, .rmt-blockcontent h5 a:link, .rmt-blockcontent h5 a:hover, .rmt-blockcontent h5 a:visited 
{
   font-size: 15px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-postcontent h6
{
   color: #A6B7C9;
   margin: 10px 0 0;
   font-size: 13px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-postcontent h6 a, .rmt-postcontent h6 a:link, .rmt-postcontent h6 a:hover, .rmt-postcontent h6 a:visited, .rmt-blockcontent h6 a, .rmt-blockcontent h6 a:link, .rmt-blockcontent h6 a:hover, .rmt-blockcontent h6 a:visited 
{
   font-size: 13px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

header, footer, article, nav, #rmt-hmenu-bg, .rmt-sheet, .rmt-hmenu a, .rmt-vmenu a, .rmt-slidenavigator > a, .rmt-checkbox:before, .rmt-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #rmt-hmenu-bg, .rmt-sheet, .rmt-slidenavigator > a, .rmt-checkbox:before, .rmt-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

/**
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * https://github.com/necolas/normalize.css
 */

html {
   -ms-text-size-adjust: 100%;
   /* 2 */
    -webkit-text-size-adjust: 100%;
/* 2 */}

body
{
   padding: 0;
   margin:0;
   min-width: 1250px;
   color: #303F50;
}

.rmt-header:before, 
#rmt-header-bg:before, 
.rmt-layout-cell:before, 
.rmt-layout-wrapper:before, 
.rmt-footer:before, 
.rmt-nav:before, 
#rmt-hmenu-bg:before, 
.rmt-sheet:before 
{
   width: 100%;
   content: " ";
   display: table;
   border-collapse: collapse;
   border-spacing: 0;
}

.rmt-header:after, 
#rmt-header-bg:after, 
.rmt-layout-cell:after, 
.rmt-layout-wrapper:after, 
.rmt-footer:after, 
.rmt-nav:after, 
#rmt-hmenu-bg:after, 
.rmt-sheet:after,
.cleared, .clearfix:after 
{
   clear: both;
   font: 0/0 serif;
   display: block;
   content: " ";
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .rmt-postcontent li h1, .rmt-blockcontent li h1 
{
   margin:1px;
} 
li h2, .rmt-postcontent li h2, .rmt-blockcontent li h2 
{
   margin:1px;
} 
li h3, .rmt-postcontent li h3, .rmt-blockcontent li h3 
{
   margin:1px;
} 
li h4, .rmt-postcontent li h4, .rmt-blockcontent li h4 
{
   margin:1px;
} 
li h5, .rmt-postcontent li h5, .rmt-blockcontent li h5 
{
   margin:1px;
} 
li h6, .rmt-postcontent li h6, .rmt-blockcontent li h6 
{
   margin:1px;
} 
li p, .rmt-postcontent li p, .rmt-blockcontent li p 
{
   margin:1px;
}


.rmt-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.rmt-slider-inner {
   position: relative;

   overflow: hidden;
   width: 100%;
   height: 100%;
}

.rmt-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.rmt-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.rmt-object1196208402
{
    display: block;
    left: 3.85%;
    margin-left: -10px;
    position: absolute;
    top: 6px;
    width: 262px;
    height: 106px;
    background-image: url('images/object1196208402.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 1;
}

.default-responsive .rmt-object1196208402
{
  display: none;
}.rmt-object1573920977
{
    display: block;
    left: 95.64%;
    margin-left: -109px;
    position: absolute;
    top: 14px;
    width: 115px;
    height: 31px;
    background-image: url('images/object1573920977.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 2;
}

.default-responsive .rmt-object1573920977
{
  display: none;
}.rmt-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 59px;
  left: 95.36%;
  margin-left: -143px !important;
  line-height: 100%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 101;
}

.rmt-headline, 
.rmt-headline a, 
.rmt-headline a:link, 
.rmt-headline a:visited, 
.rmt-headline a:hover
{
font-size: 12px;
font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: left;
  padding: 0;
  margin: 0;
  color: #596978 !important;
  white-space: nowrap;
}
.rmt-slogan
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 87px;
  left: 95.1%;
  line-height: 100%;
  margin-left: -199px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 102;
  white-space: nowrap;
}

.rmt-slogan, 
.rmt-slogan a, 
.rmt-slogan a:link, 
.rmt-slogan a:visited, 
.rmt-slogan a:hover
{
font-size: 12px;
font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
text-decoration: none;
text-align: left;
  padding: 0;
  margin: 0;
  color: #596978 !important;
}





.rmt-footer .layout-item-0 { margin-bottom: 10px;  }
.rmt-footer .layout-item-1 { padding: 10px;  }
.ie7 .rmt-post .rmt-layout-cell {border:none !important; padding:0 !important; }
.ie6 .rmt-post .rmt-layout-cell {border:none !important; padding:0 !important; }

.rmt-header
{
   margin:0 auto;
   background-repeat: no-repeat;
   height: 120px;
   position:relative;
   background-image: url('images/header.jpg');
   background-position: center top;
}

.custom-responsive .rmt-header
{
   background-image: url('images/header.jpg');
   background-position: center top;
}

.default-responsive .rmt-header,
.default-responsive #rmt-header-bg
{
   background-image: url('images/header.jpg');
   background-position: center center;
   background-size: cover;
}

.rmt-header-inner{
   position: relative;
   width: 1250px;
   z-index: auto !important;
   margin: 0 auto;
}

.rmt-header>.widget 
{
   position:absolute;
   z-index:101;
}

.rmt-nav
{
   background: #A1C903;
   padding:4px;
   margin:0 auto;
   position: relative;
   z-index: 499;
}

ul.rmt-hmenu a, ul.rmt-hmenu a:link, ul.rmt-hmenu a:visited, ul.rmt-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.rmt-hmenu, ul.rmt-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.rmt-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.rmt-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.rmt-hmenu:after, ul.rmt-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.rmt-hmenu, ul.rmt-hmenu ul 
{
   min-height: 0;
}

ul.rmt-hmenu 
{
   display: inline-block;
   vertical-align: middle;
   padding-left: 4px;
   padding-right: 4px;
}

.rmt-nav-inner:before 
{
   content:' ';
}

.rmt-nav-inner{
   text-align: left;
   margin:0 auto;
}

.desktop  .rmt-nav-inner{
   width: 1250px;
   padding-left: 4px;
   padding-right: 4px;
}

.desktop .rmt-nav
{
   padding-left: 0;
   padding-right: 0;
}

.rmt-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.rmt-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.rmt-hmenu
{
   float: left;
}

.rmt-menuitemcontainer
{
   margin:0 auto;
}
ul.rmt-hmenu>li {
   margin-left: 10px;
}
ul.rmt-hmenu>li:first-child {
   margin-left: 5px;
}
ul.rmt-hmenu>li:last-child, ul.rmt-hmenu>li.last-child {
   margin-right: 5px;
}

ul.rmt-hmenu>li>a
{
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   padding:0 17px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 37px;
   cursor: pointer;
   text-decoration: none;
   color: #FFFFFF;
   line-height: 37px;
   text-align: center;
}

.rmt-hmenu>li>a, 
.rmt-hmenu>li>a:link, 
.rmt-hmenu>li>a:visited, 
.rmt-hmenu>li>a.active, 
.rmt-hmenu>li>a:hover
{
   font-size: 11px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-transform: uppercase;
   text-align: left;
}

ul.rmt-hmenu>li>a.active
{
   background: #E2341D;
   background: -webkit-linear-gradient(top, #E6513D 0, #E2341D 50%, #C22D19 100%) no-repeat;
   background: -moz-linear-gradient(top, #E6513D 0, #E2341D 50%, #C22D19 100%) no-repeat;
   background: -o-linear-gradient(top, #E6513D 0, #E2341D 50%, #C22D19 100%) no-repeat;
   background: -ms-linear-gradient(top, #E6513D 0, #E2341D 50%, #C22D19 100%) no-repeat;
   -svg-background: linear-gradient(top, #E6513D 0, #E2341D 50%, #C22D19 100%) no-repeat;
   background: linear-gradient(to bottom, #E6513D 0, #E2341D 50%, #C22D19 100%) no-repeat;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   padding:0 17px;
   margin:0 auto;
   color: #FFF5F0;
   text-decoration: none;
}

ul.rmt-hmenu>li>a:visited, 
ul.rmt-hmenu>li>a:hover, 
ul.rmt-hmenu>li:hover>a {
   text-decoration: none;
}

ul.rmt-hmenu>li>a:hover, .desktop ul.rmt-hmenu>li:hover>a
{
   background: #E2341D;
   background: -webkit-linear-gradient(top, #E6513D 0, #E2341D 50%, #C22D19 100%) no-repeat;
   background: -moz-linear-gradient(top, #E6513D 0, #E2341D 50%, #C22D19 100%) no-repeat;
   background: -o-linear-gradient(top, #E6513D 0, #E2341D 50%, #C22D19 100%) no-repeat;
   background: -ms-linear-gradient(top, #E6513D 0, #E2341D 50%, #C22D19 100%) no-repeat;
   -svg-background: linear-gradient(top, #E6513D 0, #E2341D 50%, #C22D19 100%) no-repeat;
   background: linear-gradient(to bottom, #E6513D 0, #E2341D 50%, #C22D19 100%) no-repeat;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   padding:0 17px;
   margin:0 auto;
}
ul.rmt-hmenu>li>a:hover, 
.desktop ul.rmt-hmenu>li:hover>a {
   color: #FFF5F0;
   text-decoration: none;
}

ul.rmt-hmenu li li a
{
   background: #B9C2CB;
   background: transparent;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   border-radius:10px;
   padding:0 10px;
   margin:0 auto;
}
ul.rmt-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 1px;
   margin-bottom: 1px;
}

.desktop ul.rmt-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.rmt-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.rmt-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 24px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 24px;
   color: #6F8295;
   font-size: 12px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-transform: none;
   margin:0;
}

.rmt-hmenu ul a:link, 
.rmt-hmenu ul a:visited, 
.rmt-hmenu ul a.active, 
.rmt-hmenu ul a:hover
{
   text-align: left;
   line-height: 24px;
   color: #6F8295;
   font-size: 12px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-transform: none;
   margin:0;
}

ul.rmt-hmenu li li:after
{
   display: block;
   position: absolute;
   content: ' ';
   height: 0;
   top: -1px;
   left: 0;
   right: 0;
   z-index: 1;
   border-bottom: 1px dotted #CCD6E0;
}

.desktop ul.rmt-hmenu li li:first-child:before, 
.desktop ul.rmt-hmenu li li:first-child:after 
{
   display: none;
} 

ul.rmt-hmenu ul li a:hover, .desktop ul.rmt-hmenu ul li:hover>a
{
   background: #FFFFFF;
   background: transparent;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   border-radius:10px;
   margin:0 auto;
}
.rmt-hmenu ul a:hover
{
   text-decoration: none;
   color: #F05305;
}

.desktop .rmt-hmenu ul li:hover>a
{
   color: #F05305;
}

ul.rmt-hmenu ul:before
{
   background: #F9FAFB;
   -webkit-border-radius:0 0 3px 3px;
   -moz-border-radius:0 0 3px 3px;
   border-radius:0 0 3px 3px;
   border:1px solid rgba(207, 216, 226, 0.9);
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop ul.rmt-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop ul.rmt-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.rmt-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop ul.rmt-hmenu>li>ul
{
   padding: 15px 31px 31px 31px;
   margin: -10px 0 0 -30px;
}

.desktop ul.rmt-hmenu ul ul
{
   padding: 31px 31px 31px 13px;
   margin: -31px 0 0 -10px;
}

.desktop ul.rmt-hmenu ul.rmt-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop ul.rmt-hmenu ul.rmt-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop ul.rmt-hmenu li li:hover>ul.rmt-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop ul.rmt-hmenu li li:hover>ul.rmt-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop ul.rmt-hmenu ul ul.rmt-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 31px 31px 31px 13px;
   margin: -31px 0 0 -10px;
}

.desktop ul.rmt-hmenu ul ul.rmt-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 31px 13px 31px 31px;
   margin: -31px -10px 0 0;
}

.desktop ul.rmt-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop ul.rmt-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop ul.rmt-hmenu ul ul:before
{
   border-radius: 3px;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 12px;
}

.desktop ul.rmt-hmenu>li>ul:before
{
   top: 14px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop ul.rmt-hmenu>li>ul.rmt-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop ul.rmt-hmenu>li>ul.rmt-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop ul.rmt-hmenu ul ul.rmt-hmenu-left-to-right:before {
   right: 30px;
   left: 12px;
}
.desktop ul.rmt-hmenu ul ul.rmt-hmenu-right-to-left:before {
   right: 12px;
   left: 30px;
}

.desktop ul.rmt-hmenu>li.ext>a
{
   white-space: nowrap;
}

.desktop ul.rmt-hmenu>li.ext>a:hover,
.desktop ul.rmt-hmenu>li.ext:hover>a,
.desktop ul.rmt-hmenu>li.ext:hover>a.active  
{
   background: none;
   /* default padding + border size */
  padding: 0 17px 0 17px;
   /* margin for shadow */
  margin: -0 -0 0 -0;
   overflow: hidden;
   position: relative;
   border: none;
   border-radius: 0;
   box-shadow: none;
   color: #FA5705;
}

.desktop ul.rmt-hmenu>li.ext>a:hover:before,
.desktop ul.rmt-hmenu>li.ext:hover>a:before,
.desktop ul.rmt-hmenu>li.ext:hover>a.active:before  
{
   position: absolute;
   content: ' ';
   /* top, right, left - for shadow */
  top: 0;
   right: 0;
   left: 0;
   /* border + shadow */
  bottom: -1px;
   background-color: #F9FAFB;
   border: 1px Solid rgba(207, 216, 226, 0.9);
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
   z-index: -1;
}

.desktop ul.rmt-hmenu>li.ext:hover>ul 
{
   top: 41px;
   padding-top: 0;
   /* menu bar padding */
  margin-top: 0;
}

.desktop ul.rmt-hmenu>li.ext:hover>ul:before 
{
   /* border + shadow */
  top: -1px;
   clip: rect(5px, auto, auto, auto);
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

ul.rmt-hmenu>li.ext>.ext-r,
ul.rmt-hmenu>li.ext>.ext-l,
ul.rmt-hmenu>li.ext>.ext-m,
ul.rmt-hmenu>li.ext>.ext-off
{
   display: none;
   z-index: 12;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.desktop ul.rmt-hmenu>li.ext>ul 
{
   z-index: 13;
}

.desktop ul.rmt-hmenu>li.ext.ext-r:hover>.ext-r,
.desktop ul.rmt-hmenu>li.ext.ext-l:hover>.ext-l
{
   position: absolute;
   display: block;
   overflow: hidden;
   /* size of radius 
   * if size if 0 we should now generate script 
   * that adds ext-r and ext-m divs
   */
  height: 5px;
   top: 41px;
   padding-top: 1px;
   margin-top: -1px;
/* border width + shadow */}

.desktop ul.rmt-hmenu>li.ext:hover>.ext-r:before,
.desktop ul.rmt-hmenu>li.ext:hover>.ext-l:before
{
   position: absolute;
   content: ' ';
   top: 0;
   /* border + shadow */
  bottom: -1px;
   background-color: #F9FAFB;
   border: 1px Solid rgba(207, 216, 226, 0.9);
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop ul.rmt-hmenu>li.ext.ext-r:hover>.ext-r
{
   left: 100%;
   right: auto;
   padding-left: 0;
   margin-left: 0;
   padding-right: 1px;
   margin-right: -1px;
/* only shadow */}

.desktop ul.rmt-hmenu>li.ext.ext-r:hover>.ext-r:before
{
   right: 0;
   left: -1px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

.desktop ul.rmt-hmenu>li.ext.ext-l:hover>.ext-l
{
   right: 100%;
   left: auto;
   padding-right: 0;
   margin-right: 0;
   padding-left: 1px;
   margin-left: -1px;
/* only shadow */}

.desktop ul.rmt-hmenu>li.ext.ext-l:hover>.ext-l:before
{
   right: -1px;
   left: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}

.desktop ul.rmt-hmenu>li.ext:hover>.ext-m, 
.desktop ul.rmt-hmenu>li.ext:hover>.ext-off 
{
   position: absolute;
   display: block;
   overflow: hidden;
   height: 4px;
   top: 100%;
}

.desktop ul.rmt-hmenu>li.ext.ext-r:hover>.ext-m 
{
   /* shadow offset */
  left: -0;
   right: 0;
   /* shadow offset */
  padding-right: 0;
   padding-left: 0;
}

.desktop ul.rmt-hmenu>li.ext:hover>.ext-off 
{
   /* shadow offset */
  left: -0;
   right: -0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
   height: 5px;
}

.desktop ul.rmt-hmenu>li.ext.ext-l:hover>.ext-m
{
   /* shadow offset */
  right: -0;
   left: 0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop ul.rmt-hmenu>li.ext.ext-l.ext-r:hover>.ext-m
{
   /* shadow offset */
  right: -0;
   left: -0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop ul.rmt-hmenu>li.ext:hover>.ext-m
{
   top: 41px;
}

.desktop ul.rmt-hmenu>li.ext:hover>.ext-off:before 
{
   right: 0;
   left: 0;
   position: absolute;
   content: ' ';
   top: -1px;
   bottom: -1px;
   /* shadow offset */
  background-color: #F9FAFB;
   border: 1px Solid rgba(207, 216, 226, 0.9);
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop ul.rmt-hmenu>li.ext:hover>.ext-m:before{
   position: absolute;
   content: ' ';
   top: -1px;
   bottom: -1px;
   /* shadow offset */
  background-color: #F9FAFB;
   border: 1px Solid rgba(207, 216, 226, 0.9);
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop ul.rmt-hmenu>li.ext.ext-r:hover>.ext-m:before
{
   right: -1px;
   left: 0;
}

.desktop ul.rmt-hmenu>li.ext.ext-l:hover>.ext-m:before
{
   left: -1px;
   right: 0;
}

.desktop ul.rmt-hmenu>li.ext.ext-l.ext-r:hover>.ext-m:before
{
   left: -1px;
   right: -1px
;
}

.rmt-sheet
{
   background: #FFFFFF;
   background: transparent;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   margin:10px auto 0;
   position:relative;
   cursor:auto;
   width: 1250px;
   z-index: auto !important;
}

.rmt-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.rmt-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
}

.rmt-content-layout-row 
{
   display: table-row;
}

.rmt-layout-cell
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   display: table-cell;
   vertical-align: top;
}

/* need only for content layout in post content */ 
.rmt-postcontent .rmt-content-layout
{
   border-collapse: collapse;
}

.rmt-breadcrumbs
{
   margin:0 auto;
}

a.rmt-button,
a.rmt-button:link,
a:link.rmt-button:link,
body a.rmt-button:link,
a.rmt-button:visited,
body a.rmt-button:visited,
input.rmt-button,
button.rmt-button
{
   text-decoration: none;
   font-size: 13px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #FFFFFF;
   margin: 0 5px 0 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 25px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.rmt-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .rmt-button
{
   display: block;
   float: left;
}

input, select, textarea, a.rmt-search-button span
{
   vertical-align: middle;
   font-size: 13px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.rmt-block select 
{
   width:96%;
}

input.rmt-button
{
   float: none !important;
   -webkit-appearance: none;
}

.rmt-button.active, .rmt-button.active:hover
{
   background: #A1ADBA;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   padding:0 21px;
   margin:0 auto;
}
.rmt-button.active, .rmt-button.active:hover {
   color: #FFFFFF !important;
}

.rmt-button.hover, .rmt-button:hover
{
   background: #8A99A8;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   padding:0 21px;
   margin:0 auto;
}
.rmt-button.hover, .rmt-button:hover {
   color: #FFFFFF !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
   background: #F9FAFB;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #B9C2CB;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
   width: auto;
   padding: 4px 0;
   color: #3D5166 !important;
   font-size: 13px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-shadow: none;
}
input.rmt-error, textarea.rmt-error
{
   background: #F9FAFB;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.rmt-error, textarea.rmt-error {
   color: #3D5166 !important;
   font-size: 13px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.rmt-search input[type="text"]
{
   background: #FFFFFF;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #CCD6E0;
   margin:0 auto;
   width: 100%;
   padding: 3px 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #7D2B03 !important;
   font-size: 13px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.rmt-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.rmt-search input, a.rmt-search-button
{
   -webkit-appearance: none;
   top:0;
   right:0;
}

form.rmt-search>input, a.rmt-search-button{
   bottom:0;
   left:0;
   vertical-align: middle;
}

form.rmt-search input[type="submit"], input.rmt-search-button, a.rmt-search-button
{
   border-radius: 0;
   margin:0 auto;
}
form.rmt-search input[type="submit"], input.rmt-search-button, a.rmt-search-button {
   position:absolute;
   left:auto;
   display:block;
   border:none;
   background:url('images/searchicon.png') center center no-repeat;
   width:24px;
   height: 100%;
   padding:0;
   color: #FFFFFF !important;
   cursor: pointer;
}

a.rmt-search-button span.rmt-search-button-text {
   display: none;
}

label.rmt-checkbox:before
{
   background: #F9FAFB;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.rmt-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
   color: #7D2B03 !important;
}

.rmt-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.rmt-checkbox.active:before
{
   background: #FC905A;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.rmt-checkbox.hovered:before
{
   background: #D9DEE3;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.rmt-radiobutton:before
{
   background: #F9FAFB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.rmt-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
   color: #7D2B03 !important;
}

.rmt-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.rmt-radiobutton.active:before
{
   background: #B9C2CB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.rmt-radiobutton.hovered:before
{
   background: #D9DEE3;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

.rmt-comments
{
   border-top:1px dotted #A1ADBA;
   margin:0 auto;
   margin-top: 25px;
}

.rmt-comments h2
{
   color: #23292F;
}

.rmt-comment-inner
{
   background: #E2E8EE;
   background: transparent;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   padding:5px;
   margin:0 auto;
   margin-left: 94px;
}
.rmt-comment-avatar 
{
   float:left;
   width:80px;
   height:80px;
   padding:1px;
   background:#fff;
   border:1px solid #E2E8EE;
}

.rmt-comment-avatar>img
{
   margin:0 !important;
   border:none !important;
}

.rmt-comment-content
{
   padding:10px 0;
   color: #303F50;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-comment
{
   margin-top: 6px;
}

.rmt-comment:first-child
{
   margin-top: 0;
}

.rmt-comment-header
{
   color: #23292F;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   line-height: 100%;
}

.rmt-comment-header a, 
.rmt-comment-header a:link, 
.rmt-comment-header a:visited,
.rmt-comment-header a.visited,
.rmt-comment-header a:hover,
.rmt-comment-header a.hovered
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   line-height: 100%;
}

.rmt-comment-header a, .rmt-comment-header a:link
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   color: #758799;
}

.rmt-comment-header a:visited, .rmt-comment-header a.visited
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   color: #758799;
}

.rmt-comment-header a:hover,  .rmt-comment-header a.hovered
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   color: #758799;
}

.rmt-comment-content a, 
.rmt-comment-content a:link, 
.rmt-comment-content a:visited,
.rmt-comment-content a.visited,
.rmt-comment-content a:hover,
.rmt-comment-content a.hovered
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-comment-content a, .rmt-comment-content a:link
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   color: #CD4704;
}

.rmt-comment-content a:visited, .rmt-comment-content a.visited
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   color: #3F5369;
}

.rmt-comment-content a:hover,  .rmt-comment-content a.hovered
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   color: #CD4704;
}

.rmt-pager
{
   background: #EFF2F5;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #93A8BE 100%) no-repeat;
   background: linear-gradient(to bottom, #FFFFFF 0, #93A8BE 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   border:1px solid #A1ADBA;
   padding:5px;
}

.rmt-pager>*:last-child
{
   margin-right:0 !important;
}

.rmt-pager>span {
   cursor:default;
}

.rmt-pager>*
{
   background: #D9DEE3;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #9EABB7 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #9EABB7 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #9EABB7 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #9EABB7 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #9EABB7 100%) no-repeat;
   background: linear-gradient(to bottom, #FFFFFF 0, #9EABB7 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   border:1px solid #D9DEE3;
   padding:7px;
   margin:0 4px 0 auto;
   line-height: normal;
   position:relative;
   display:inline-block;
   margin-left: 0;
}

.rmt-pager a:link,
.rmt-pager a:visited,
.rmt-pager .active
{
   line-height: normal;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #1C2126
;
}

.rmt-pager .active
{
   background: #B6BFC9;
   background: -webkit-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   background: -moz-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   background: -o-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   background: -ms-linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   -svg-background: linear-gradient(top, #E5E8EB 0, #8796A6 100%) no-repeat;
   background: linear-gradient(to bottom, #E5E8EB 0, #8796A6 100%) no-repeat;
   border:1px solid #D9DEE3;
   padding:7px;
   margin:0 4px 0 auto;
   color: #FFFFFF
;
}

.rmt-pager .more
{
   background: #D9DEE3;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #9EABB7 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #9EABB7 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #9EABB7 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #9EABB7 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #9EABB7 100%) no-repeat;
   background: linear-gradient(to bottom, #FFFFFF 0, #9EABB7 100%) no-repeat;
   border:1px solid #D9DEE3;
   margin:0 4px 0 auto;
}
.rmt-pager a.more:link,
.rmt-pager a.more:visited
{
   color: #411701
;
}
.rmt-pager a:hover
{
   background: #B9C2CB;
   background: -webkit-linear-gradient(top, #E8EBEE 0, #8A99A8 100%) no-repeat;
   background: -moz-linear-gradient(top, #E8EBEE 0, #8A99A8 100%) no-repeat;
   background: -o-linear-gradient(top, #E8EBEE 0, #8A99A8 100%) no-repeat;
   background: -ms-linear-gradient(top, #E8EBEE 0, #8A99A8 100%) no-repeat;
   -svg-background: linear-gradient(top, #E8EBEE 0, #8A99A8 100%) no-repeat;
   background: linear-gradient(to bottom, #E8EBEE 0, #8A99A8 100%) no-repeat;
   border:1px solid #D9DEE3;
   padding:7px;
   margin:0 4px 0 auto;
}
.rmt-pager  a:hover,
.rmt-pager  a.more:hover
{
   color: #21262C
;
}
.rmt-pager>*:after
{
   margin:0 0 0 auto;
   display:inline-block;
   position:absolute;
   content: ' ';
   top:0;
   width:0;
   height:100%;
   right: 0;
   text-decoration:none;
}

.rmt-pager>*:last-child:after{
   display:none;
}

.rmt-commentsform
{
   background: #E2E8EE;
   background: transparent;
   padding:10px;
   margin:0 auto;
   margin-top:25px;
   color: #23292F;
}

.rmt-commentsform h2{
   padding-bottom:10px;
   margin: 0;
   color: #23292F;
}

.rmt-commentsform label {
   display: inline-block;
   line-height: 25px;
}

.rmt-commentsform input:not([type=submit]), .rmt-commentsform textarea {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   width:100%;
   max-width:100%;
}

.rmt-commentsform .form-submit
{
   margin-top: 10px;
}
.rmt-block
{
   margin:7px;
}
div.rmt-block img
{
   border: none;
   margin: 12px;
}

.rmt-blockheader
{
   background: #9DCDE2;
   -webkit-border-radius:6px 6px 0 0;
   -moz-border-radius:6px 6px 0 0;
   border-radius:6px 6px 0 0;
   padding:6px 7px;
   margin:0 auto;
}
.rmt-blockheader .t,
.rmt-blockheader .t a,
.rmt-blockheader .t a:link,
.rmt-blockheader .t a:visited, 
.rmt-blockheader .t a:hover
{
   color: #485461;
   font-size: 14px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   margin: 0 5px;
}

.rmt-blockcontent
{
   background: #FFFFFF;
   -webkit-border-radius:0 0 6px 6px;
   -moz-border-radius:0 0 6px 6px;
   border-radius:0 0 6px 6px;
   border:1px solid #9DCDE2;
   padding:7px;
   margin:0 auto;
   color: #303F50;
   font-size: 13px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   line-height: 175%;
}
.rmt-blockcontent table,
.rmt-blockcontent li, 
.rmt-blockcontent a,
.rmt-blockcontent a:link,
.rmt-blockcontent a:visited,
.rmt-blockcontent a:hover
{
   color: #303F50;
   font-size: 13px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   line-height: 175%;
}

.rmt-blockcontent p
{
   margin: 0 5px;
}

.rmt-blockcontent a, .rmt-blockcontent a:link
{
   color: #FB7C3C;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-blockcontent a:visited, .rmt-blockcontent a.visited
{
   color: #A9BACB;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.rmt-blockcontent a:hover, .rmt-blockcontent a.hover
{
   color: #FA5705;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}
.rmt-block ul>li:before
{
   content:url('images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -17px;
}
.opera .rmt-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.rmt-block li
{
   font-size: 13px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   line-height: 175%;
   color: #4E6883;
   margin: 5px 0 0 10px;
}

.rmt-block ul>li, .rmt-block ol
{
   padding: 0;
}

.rmt-block ul>li
{
   padding-left: 17px;
}

.rmt-post
{
   padding:15px;
}
a img
{
   border: 0;
}

.rmt-article img, img.rmt-article, .rmt-block img, .rmt-footer img
{
   margin: 7px 7px 7px 7px;
}

.rmt-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.rmt-article table, table.rmt-article
{
   border-collapse: collapse;
   margin: 1px;
}

.rmt-post .rmt-content-layout-br
{
   height: 0;
}

.rmt-article th, .rmt-article td
{
   padding: 2px;
   border: solid 1px #5A7796;
   vertical-align: top;
   text-align: left;
}

.rmt-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 7px 7px 7px 7px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.rmt-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.rmt-postheader
{
   color: #E2341D;
   margin: 5px 10px;
   font-size: 20px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.rmt-postheader a, 
.rmt-postheader a:link, 
.rmt-postheader a:visited,
.rmt-postheader a.visited,
.rmt-postheader a:hover,
.rmt-postheader a.hovered
{
   font-size: 20px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.rmt-postheader a, .rmt-postheader a:link
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #FB7F41;
}

.rmt-postheader a:visited, .rmt-postheader a.visited
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #708BA9;
}

.rmt-postheader a:hover,  .rmt-postheader a.hovered
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #FB7C3C;
}

.rmt-postheadericons,
.rmt-postheadericons a,
.rmt-postheadericons a:link,
.rmt-postheadericons a:visited,
.rmt-postheadericons a:hover
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   color: #4E6883;
}

.rmt-postheadericons
{
   padding: 1px;
   margin: 0 0 0 10px;
}

.rmt-postheadericons a, .rmt-postheadericons a:link
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #FB722D;
}

.rmt-postheadericons a:visited, .rmt-postheadericons a.visited
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   color: #587493;
}

.rmt-postheadericons a:hover, .rmt-postheadericons a.hover
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: underline;
   color: #E65005;
}

.rmt-postdateicon:before
{
   content:url('images/postdateicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .rmt-postdateicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.rmt-postauthoricon:before
{
   content:url('images/postauthoricon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .rmt-postauthoricon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.rmt-postediticon:before
{
   content:url('images/postediticon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .rmt-postediticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.rmt-postcontent ul>li:before,  .rmt-post ul>li:before,  .rmt-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:10px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .rmt-postcontent ul>li:before, .opera   .rmt-post ul>li:before, .opera   .rmt-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.rmt-postcontent li, .rmt-post li, .rmt-textblock li
{
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   color: #303F50;
   margin: 3px 0 0 11px;
}

.rmt-postcontent ul>li, .rmt-post ul>li, .rmt-textblock ul>li, .rmt-postcontent ol, .rmt-post ol, .rmt-textblock ol
{
   padding: 0;
}

.rmt-postcontent ul>li, .rmt-post ul>li, .rmt-textblock ul>li
{
   padding-left: 17px;
}

.rmt-postcontent ul>li:before,  .rmt-post ul>li:before,  .rmt-textblock ul>li:before
{
   margin-left: -17px;
}

.rmt-postcontent ol, .rmt-post ol, .rmt-textblock ol, .rmt-postcontent ul, .rmt-post ul, .rmt-textblock ul
{
   margin: 1em 0 1em 11px;
}

.rmt-postcontent li ol, .rmt-post li ol, .rmt-textblock li ol, .rmt-postcontent li ul, .rmt-post li ul, .rmt-textblock li ul
{
   margin: 0.5em 0 0.5em 11px;
}

.rmt-postcontent li, .rmt-post li, .rmt-textblock li
{
   margin: 3px 0 0 0;
}

.rmt-postcontent ol>li, .rmt-post ol>li, .rmt-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.rmt-postcontent ul>li, .rmt-post ul>li, .rmt-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #EFF2F5 url('images/postquote.png') no-repeat scroll;
   padding:10px 10px 10px 47px;
   margin:10px 0 0 25px;
   color: #0D1216;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .rmt-postcontent blockquote a, .rmt-blockcontent blockquote a, .rmt-footer blockquote a,
blockquote a:link, .rmt-postcontent blockquote a:link, .rmt-blockcontent blockquote a:link, .rmt-footer blockquote a:link,
blockquote a:visited, .rmt-postcontent blockquote a:visited, .rmt-blockcontent blockquote a:visited, .rmt-footer blockquote a:visited,
blockquote a:hover, .rmt-postcontent blockquote a:hover, .rmt-blockcontent blockquote a:hover, .rmt-footer blockquote a:hover
{
   color: #0D1216;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.rmt-postcontent blockquote p,
.rmt-blockcontent blockquote p,
.rmt-footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}

.rmt-footer
{
   background: #404040;
   margin:50px auto 0;
   position: relative;
   color: #FFFFFF;
   font-size: 13px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   line-height: 175%;
   text-align: center;
   padding: 0;
}

.rmt-footer a,
.rmt-footer a:link,
.rmt-footer a:visited,
.rmt-footer a:hover,
.rmt-footer td, 
.rmt-footer th,
.rmt-footer caption
{
   color: #FFFFFF;
   font-size: 13px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   line-height: 175%;
}

.rmt-footer p 
{
   padding:0;
   text-align: center;
}

.rmt-footer a,
.rmt-footer a:link
{
   color: #99ADC2;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.rmt-footer a:visited
{
   color: #8098B3;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.rmt-footer a:hover
{
   color: #FC935F;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
}

.rmt-footer h1
{
   color: #8A99A8;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-footer h2
{
   color: #A1ADBA;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-footer h3
{
   color: #FA681E;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-footer h4
{
   color: #9CAFC4;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-footer h5
{
   color: #9CAFC4;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-footer h6
{
   color: #9CAFC4;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
}

.rmt-footer img
{
   border: none;
   margin: 7px;
}

.rmt-footer-inner
{
   margin: 0 auto;
   width:1250px;
   padding:10px;
   padding-right: 10px;
   padding-left: 10px;
}

.rmt-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.rmt-rss-tag-icon:empty
{
   vertical-align: middle;
}

.rmt-facebook-tag-icon
{
   background:  url('images/footerfacebookicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.rmt-facebook-tag-icon:empty
{
   vertical-align: middle;
}

.rmt-twitter-tag-icon
{
   background:  url('images/footertwittericon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.rmt-twitter-tag-icon:empty
{
   vertical-align: middle;
}

.rmt-tumblr-tag-icon
{
   background:  url('images/tumblricon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.rmt-tumblr-tag-icon:empty
{
   vertical-align: middle;
}

.rmt-pinterest-tag-icon
{
   background:  url('images/pinteresticon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.rmt-pinterest-tag-icon:empty
{
   vertical-align: middle;
}

.rmt-vimeo-tag-icon
{
   background:  url('images/vimeoicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:33px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.rmt-vimeo-tag-icon:empty
{
   vertical-align: middle;
}

.rmt-youtube-tag-icon
{
   background:  url('images/youtubeicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.rmt-youtube-tag-icon:empty
{
   vertical-align: middle;
}

.rmt-linkedin-tag-icon
{
   background:  url('images/linkedinicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.rmt-linkedin-tag-icon:empty
{
   vertical-align: middle;
}

.rmt-footer ul>li:before
{
   content:url('images/footerbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -16px;
}
.opera .rmt-footer ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.rmt-footer li
{
   font-size: 13px;
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
   color: #FEDAC8;
}

.rmt-footer ul>li, .rmt-footer ol
{
   padding: 0;
}

.rmt-footer ul>li
{
   padding-left: 16px;
}

.rmt-page-footer, 
.rmt-page-footer a,
.rmt-page-footer a:link,
.rmt-page-footer a:visited,
.rmt-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #CDD4DA;
}

.rmt-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #AFBFCF;
}

.rmt-lightbox-wrapper 
{
   background: #333;
   background: rgba(0, 0, 0, .8);
   bottom: 0;
   left: 0;
   padding: 0 100px;
   position: fixed;
   right: 0;
   text-align: center;
   top: 0;
   z-index: 1000000;
}

.rmt-lightbox,
.rmt-lightbox-wrapper .rmt-lightbox-image
{
   cursor: pointer;
}

.rmt-lightbox-wrapper .rmt-lightbox-image
{
   border: 6px solid #fff;
   border-radius: 3px;
   display: none;
   max-width: 100%;
   vertical-align: middle;
}

.rmt-lightbox-wrapper .rmt-lightbox-image.active
{
   display: inline-block;
}

.rmt-lightbox-wrapper .lightbox-error
{
   background: #fff;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 80px;
   opacity: .95;
   padding: 20px;
   position: fixed;
   width: 300px;
   z-index: 100;
}

.rmt-lightbox-wrapper .loading
{
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 32px;
   opacity: .5;
   padding: 10px;
   position: fixed;
   width: 32px;
   z-index: 10100;
}

.rmt-lightbox-wrapper .arrow
{
   cursor: pointer;
   height: 100px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   width: 82px;
   z-index: 10003;
}

.rmt-lightbox-wrapper .arrow.left
{
   left: 9px;
}

.rmt-lightbox-wrapper .arrow.right
{
   right: 9px;
}

.rmt-lightbox-wrapper .arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.rmt-lightbox-wrapper .arrow.disabled 
{
   display: none;
}

.rmt-lightbox-wrapper .arrow-t, 
.rmt-lightbox-wrapper .arrow-b
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   left: 26px;
   position: relative;
   width: 30px;
}

.rmt-lightbox-wrapper .arrow-t
{
   top: 38px;
}

.rmt-lightbox-wrapper .arrow-b
{
   top: 50px;
}

.rmt-lightbox-wrapper .close
{
   cursor: pointer;
   height: 22px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   right: 39px;
   top: 30px;
   width: 22px;
   z-index: 10003;
}

.rmt-lightbox-wrapper .close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.rmt-lightbox-wrapper .close .cw, 
.rmt-lightbox-wrapper .close .ccw
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   position: absolute;
   left: -4px;
   top: 8px;
   width: 30px;
}

.rmt-lightbox-wrapper .cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.rmt-lightbox-wrapper .ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.rmt-lightbox-wrapper .close-alt, 
.rmt-lightbox-wrapper .arrow-right-alt, 
.rmt-lightbox-wrapper .arrow-left-alt 
{
   color: #fff;
   display: none;
   font-size: 2.5em;
   line-height: 100%;
}

.ie8 .rmt-lightbox-wrapper .close-alt, 
.ie8 .rmt-lightbox-wrapper .arrow-right-alt, 
.ie8 .rmt-lightbox-wrapper .arrow-left-alt 
{
   display: block;
}

.ie8 .rmt-lightbox-wrapper .cw, 
.ie8 .rmt-lightbox-wrapper .ccw 
{
   display: none;
}

.rmt-content-layout .rmt-content
{
   margin:0 auto;
}

.rmt-content-layout .rmt-sidebar1
{
   -webkit-border-radius:0 5px 5px 0;
   -moz-border-radius:0 5px 5px 0;
   border-radius:0 5px 5px 0;
   margin:0 auto;
   width: 225px;
}

/* Begin Additional CSS Styles */

/* End Additional CSS Styles */
